* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  color: white;
  padding: 2rem;
}

.HeaderTitle {
  font-weight: 700;
  font-size: calc(10px + 3vmin);
  color: white;
  margin-bottom: 0;
}

.MainNav a {
  color: black;
  text-decoration: none;
}


.MainNav a:hover {
  text-decoration: underline;
}
