* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Header {
  display: flex;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(14, 24, 10, 0.9)
}

.HeaderTitle {
  font-weight: 700;
  font-size: calc(10px + 3vmin);
  color: rgb(41, 112, 49);
  margin-bottom: 0;
}

.MainNav a {
  color: rgb(41, 112, 49);
  text-decoration: none;
}


.MainNav a:hover {
  text-decoration: underline;
}
