body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #98d2e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----------------------------------- HERO SECTION -----------------------------------*/

.MuiBox-root {
  margin-bottom: 100px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/*----------------------------------- DATE SELECT -----------------------------------*/

.dateBtn {
  padding: 0.9rem;
  margin: 0.5rem;
  background-color: #BDD537;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  border: none;
  border-radius: 15px;
}

.dateBtn:hover {
  background-color: #97aa2c; /* 20% svart overlay */

}

.dateBtn.active {
  background-color: #97aa2c; /* 20% svart overlay */
}

.dateBtn.dateBtn.active::before {
  content: "✔ ";
}

/*----------------------------------- SINGLE PAGE -----------------------------------*/

div.singlePageContainer {
  width: 70%;
  margin: 0 auto;
}

/*----------------------------------- CITY PRESENTATION -----------------------------------*/

.cityfetch {
  min-width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 2rem;  
}

.cityFetchImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  align-self: center;
  overflow: hidden;
}

.cityfetch img {
  object-fit: cover; 
}


.cityfetchText {
  align-self: center;
  width: 500px;
}