body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #98d2e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*----------------------------------- HERO SECION -----------------------------------*/

.MuiBox-root {
  margin-bottom: 100px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


/*----------------------------------- CITY PRESENTATION -----------------------------------*/

.cityfetch {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 2rem;  
}

.cityfetch img {
  width: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  align-self: center;
}


.cityfetchText {
  align-self: center;
}