body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cityfetch {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 2rem;  
}

.cityfetchImg {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  align-self: center;
}

.cityfetchText {
  align-self: center;
}